* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(243, 233, 223);
}

.hero {
    text-align: center;
    padding: 50px;
}

.hero h1 {
    margin-bottom: 50px;
    margin-left: 630px;
    margin-right: auto;
    font-family: 'Lucida Handwriting';
    background-color: black;
    color: white;
    border-radius: 75px;
    width: 30%;
}

.hero img {
    width: 400px;
    height: auto;
    border-radius: 50%;
}

.description {
    text-align: center;
}

.description h3 {
    margin-top: 20px;
    margin-bottom: 25px;
    font-family: Papyrus;
    font-size: 25px;
}

.description p {
    font-family: cursive;
    color: rgb(182, 123, 83);
}

.ingredients h4 {
    margin-top: 70px;
    margin-bottom: 30px;
    font-family: Papyrus;
    font-size: 25px;
    text-align: center;
}

.ingredients ul li {
    font-family: cursive;
    color: rgb(182, 123, 83);
    margin-left: 600px;
}

.steps h4 {
    margin-top: 70px;
    margin-bottom: 30px;
    font-family: Papyrus;
    font-size: 25px;
    text-align: center;
}

.steps ol li {
    font-family: cursive;
    color: rgb(182, 123, 83);
    margin-left: 600px;
}

.btn-control {
    text-align: center;
    padding: 80px;
}

.btn-control ul li {
    list-style-type: none;
    display: inline-block;
}

.btn-control ul li a{
    background-color: rgb(126, 81, 40);
    color: white;
    padding: 20px 60px;
    text-decoration: none;
    border-radius: 10px;
    font-family: cursive;
    font-size: 15px;
    margin-left: 10px;
}

.btn-control ul li a:hover {
    background-color: black;
}